html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #919191;
  background: url(http://old.bz55.com/uploads/allimg/150706/139-150F61A645.jpg) 0 0;
}

.justify {
  text-align: justify;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.nostart {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hidden {
  display: none;
}

.clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  line-height: 0;
}

.clear {
  display: inline-block;
  clear: both;
}

html[xmlns] .clear {
  display: block;
}

* html .clear {
  height: 1%;
}

a {
  outline: none;
  text-decoration: none;
}

img {
  margin: 0;
  padding: 0;
  border: none;
  line-height: normal;
  vertical-align: middle;
  width: 100%;
  border-radius: 100px;
}

address,
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 2%;
  color: white;
}

.container {
  display: block;
  margin: 3% 10%;
  padding: 0 3%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 1 1 1;
  border-radius: 10px;
  padding: 5%;
  color: white;
}

aside {
  padding: 2%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.row-item {
  flex: auto;
  width: 5rem;
  text-align: center;
  line-height: 20px;
}

.row-item a {
  color: white;
  text-decoration: underline;
}

figure {
  width: 200px;
  height: 200px;
  margin: auto;
}

summary {
  line-height: 2em;
  font-weight: 500;
  font-size: 1.2em;
}
