<!DOCTYPE html>
<html>
<head>
　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
　<title>Encore Shao 的个人博客</title>
  <style type="text/css">
    .main-container {
      background-color: #efefef;
    }
    .container {
      width: 100%;
      margin: 0px auto;
    }
    .header {
      width: 100%;
      text-align: center;
      font-size: 2em;
    }
    .nav {
      list-style: none;
      font-size: 0.8em;
      padding-left: 0px;
    }
    .nav li {
      line-height: 1.2em;
    }
    .info {
      text-align: left;
      width: 100%;
    }
    .info td { vertical-align: top; }
    .info .image {
      width: 200px;
    }
  </style>
</head>
<body class='main-container'>
　<div class='header'>
    <p>Hello Everyone!</p>
  <div>
  <div class='container'>
    <table class="info">
      <tr>
        <td class="image">
          <img src="https://avatars1.githubusercontent.com/u/745929?v=3&u=fdb60206ea2e0f2809f4b3361e88d8d769e9b941&s=400">
        </td>
        <td>
          <ul class="nav">
            <li><strong>Encore Shao</strong></li>
            <li>I'm a web Developer</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</body>
</html>
